<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.star"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.example.star.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.star.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.example.star.IntroActivity"
            android:label="@string/title_activity_intro" >
        </activity>
        <activity
            android:name="com.example.star.OSTActivity"
            android:label="@string/title_activity_ost" >
        </activity>
        <activity
            android:name="com.example.star.WordActivity"
            android:label="@string/title_activity_word" >
        </activity>
        <activity
            android:name="com.example.star.CastActivity"
            android:label="@string/title_activity_cast" >
        </activity>
        <activity
            android:name="com.example.star.HighlightActivity"
            android:label="@string/title_activity_highlight" >
        </activity>
    </application>

</manifest>
